/************************************************************************************
These are the styles for the bits "around" your components.
Feel free to modify these styles to suit your tastes and compatibility with the site,
but I recommend using specific class names to avoid collision with your site styles.
************************************************************************************/

/* anti-fouc */
body {
	opacity:0;
	-webkit-transition: opacity 0.5s;
	        transition: opacity 0.5s;
}
body.loaded {
	opacity: 1;
}



.guide-container {
	margin:20px 20px;
	padding-bottom:300px;
}
.guide-title {
	font-family:sans-serif;
}
.guide-header {
	display:block;
	font-size:14px;
	font-weight:bold;
	color:#999;
	line-height: 2em;
	border-bottom: 1px solid #ccc;
	font-family:sans-serif;
	text-transform: uppercase;
	margin-top:40px;
}
.guide-hint {
	font-size:13px;
	margin: 1em 0;
}
pre, [data-showsource] {
	margin:30px 0;
}



@media screen and (max-width: 767px) {
	html .prettyprint ol.linenums {
		list-style:none;
		padding-left:0;
	}
	html .prettyprint ol.linenums li {
		padding-left:0;
		border-left:0 none;
	}
	html .prettyprint li>* {
		font-size:12px;
	}
}


@media screen and (min-width: 960px) {
	.guide-container {
		max-width:960px;
		margin:30px auto;
	}
	.guide-header {
		margin-top:60px;
	}
}